In [6]:
import h5py
import pandas as pd
from pathlib import Path

path = "/work/bel25/datasets/ground_truth_test_000.hdf5"

f = h5py.File(path, 'r')
n = f['data'].shape[0]

In [ ]:
ct_dct = {}
for dset in ['train', 'val', 'test']:
    ct_dct[dset] = {}
    for mode in ['ground_truth', 'observation']:
        paths = Path("/work/bel25/datasets/").iterdir()
        ct_dct[dset][mode] = 0
        curr = filter(lambda x : dset in x.name and mode in x.name, paths )
        for p in curr:
            f = h5py.File(p, 'r')
            ct_dct[dset][mode] += f['data'].shape[0]
            print(p, f['data'].shape)

In [42]:
pd.DataFrame(ct_dct)

              train   val  test
ground_truth  35840  3584  3584
observation   35820  3522  3553